body {
  border: 5px solid aqua;
  height: 100vh;
  margin: 10px;
  padding: 0;
  box-sizing: border-box;
  display: flex;
  flex-direction: column; /* flex column position-visibility */
  justify-content: space-between; /* footer at the bottom */
  align-items: center;
}

/*board statistics*/
.boardInfo {
  /* border: 5px solid black; */
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  width: 100%;
}

#roundNum {
  flex: 1 1 23000px;
  text-align: center;
  font-size: 2.5em;
  margin: 10px;
}
.statistics {
  font-family: "Courier New", Courier, monospace;
  font-size: 1em;
  font-weight: bold;
}

.boardInfo div {
  border: 5px solid red;
}
#alienStats {
  display: flex;
  justify-content: center;
  border-radius: 25px;
  flex: 1 1 40%;
}
#playerStats {
  display: flex;
  justify-content: center;

  border-radius: 25px;
  flex: 1 1 40%;
}

.alienContainer {
  /* border: 5px solid blue; */
}

.alien {
  /* border: 5px solid brown; */
  width: 200px;
  height: 200px;

  background-image: url("./images/alienmothership.png"); /* Replace with your bird image */
  background-size: contain;
  background-repeat: no-repeat;
  animation: moveBird 1s infinite alternate;
}

@keyframes moveAlien {
  0% {
    left: 0;
  }
  100% {
    left: 0.1px; /* This should be the pixel equivalent */
  }
}

/* Player */
.usSpaceForceContainer {
  border: 5px solid green;
}
.usSpaceForce {
  border: 5px solid lime;
  width: 220px;
  height: 220px;
  background-image: url("./images/spacecraft.png"); /* Replace with your bird image */
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

/* footer */
.footer {
  border: 5px solid blue;
  width: 100%;
  text-align: center;
  background-color: antiquewhite;
  font-size: 2em;
}
.userAction {
  background-color: aqua;
  margin: 10px;
  padding: 10px;
  cursor: pointer;
  border-radius: 15px;
  font-size: 1em;
}
