body {
  border: 5px solid aqua;
  height: 100vh;
  margin: 10px;
  padding: 0;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.alienContainer {
  /* border: 5px solid blue; */
}

.alien {
  /* border: 5px solid brown; */
  width: 100px;
  height: 100px;

  background-image: url("./images/alienmothership.png"); /* Replace with your bird image */
  background-size: contain;
  background-repeat: no-repeat;
  animation: moveBird 1s infinite alternate;
}

@keyframes moveAlien {
  0% {
    left: 0;
  }
  100% {
    left: 0.1px; /* This should be the pixel equivalent */
  }
}

/* Player */
.usSpaceForceContainer {
  /* border: 5px solid green; */
  height: 130px;
}
.usSpaceForce {
  /* border: 5px solid lime; */
  width: 120px;
  height: 120px;
  background-image: url("./images/spacecraft.png"); /* Replace with your bird image */
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  margin-top: 100px;
}

/* footer */
.footer {
  width: 100%;
  text-align: center;
  background-color: antiquewhite;
}
.attack {
  border-radius: 35px;
}
